@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Karla:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Heebo, Karla, Helvetica Neue, sans-serif;
  background-color: #f7f9fa
  ;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
}
